<web-app version="6.0"
  xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>


  <data-source>
    <name>java:global/PessoaDataSource</name>
    <!-- <class-name>org.postgresql.ds.PGSimpleDataSource</class-name> -->
    <class-name>org.postgresql.ds.PGConnectionPoolDataSource</class-name>
    <server-name>${ENV=DB_SERVER_NAME}</server-name>
    <port-number>5432</port-number>
    <database-name>test</database-name>
    <user>test</user>
    <password>test</password>
    <!-- Example of how to use a Payara specific custom connection pool setting -->
    <property>
      <name>fish.payara.log-jdbc-calls</name>
      <value>false</value>
    </property>

    <initial-pool-size>15</initial-pool-size>
    <max-pool-size>15</max-pool-size>
    <min-pool-size>15</min-pool-size>
  </data-source>


</web-app>